*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App
{
  width: 100vw;
  background-color: #111229;
}
.banner_Progress
{
    display: flex;
    position: relative;
    justify-content:space-evenly;
    margin-bottom: 70px;
    overflow-x: auto;
}
